body {
    height: 100vh;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.container {
    margin: auto;
    width: 1200px;
    height: 100vh;
    background-color: white;
}

.head {
    margin: auto;
    display: grid;
    height: 10vh;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: solid black 2px;
    grid-gap: 2px;
}

.head > a {
    background-color: rgb(125, 218, 255);
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a:nth-of-type(1) {
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a:nth-of-type(2nd) {
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a {
    text-decoration: none;
    color: black;
}

main {
    display: none;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 50px);
    grid-row-gap: 10px;
}

main * {
    grid-column: 2/9;
    grid-row: span 1;
}

.advSearch {
    background-color: rgb(137, 201, 209);
}

.advSearchPressed {
    transition: 0.3s;
    background-color: gray;
}

.searchDiv {
    display: none;
    grid-column: 2/9;
    grid-row: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    
    grid-gap: 15px;
}

.searchDiv * {
    grid-column: span 1;
    grid-row: span 1;
}

.searchDiv select {
    height: 20px;
}

.suggested {
    transition: 0.5s;
    background-color: white;
    border-top: solid lightblue 2px;
    display: grid;
    width: inherit;
    height: 0vh;
    bottom: 0%;
    grid-template-columns: 50px 50px repeat(3, 1fr) 50px;
    grid-template-rows: 20px repeat(3, 50px);
    grid-gap: 2px;
    position: fixed;
}

.suggestions {
    background-color: pink;
    grid-column: 2/6;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
}

.suggested h3 {
    text-indent: 5px;
    background-color: violet;
}

.suggestions p {
    grid-column: span 3;
    margin: 0;
}

.suggestions img {
    grid-column: span 1;
}

.homepage {
    display: none;
}

.news {
    display: none;
}

.show {
    display: grid;
}

.showSuggested {
    transition: 0.5s;
    display: grid;
    height: 30vh;
}



@media only screen and (max-width: 400px) {
    body {
        margin: 0;
    }
    
    .head {
        height: 15vh;
    }
    
    main {
        grid-template-rows: repeat(3, 20px) auto repeat(5, 20px);
    }
    
    .container {
        width: 100vw;
        height: 100vh;
    }
    
    .suggested {
        transition: 0.5s;
    }
    
    .showSuggested {
        display: grid;
        height: 40vh;
    }
}

.offers {
    display: grid;
    height: 89vh;
}

@media only screen and (max-width: 400px) {
    .offers {
        display: grid;
        height: 85vh;
    }
}




/* Font Styles n' Stuff */
.title {
    font-weight: 500;
    font-size: 15px;

}