body {
    height: 100vh;
}

.container {
    margin: auto;
    width: 1200px;
    height: 800px;
}

.head {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: solid black 2px;
    grid-gap: 2px;
}

.head > a {
    background-color: rgb(125, 218, 255);
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a:nth-of-type(1) {
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a:nth-of-type(2nd) {
    grid-column: span 1;
    display: grid;
    justify-content: center;
}

.head > a {
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 50px);
    grid-row-gap: span 1;
    grid-row-gap: 10px;
}

main * {
    grid-column: 2/8;
    grid-row: span 1;
}

.advSearch {
    background-color: rgb(137, 201, 209);
}

.searchDiv {
    display: none;
}

.suggested {
    border-top: solid lightblue 2px;
    display: none;
    height: 0vh;
    width: 100vw;
    bottom: 0%;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: 20px repeat(3, 50px);
    grid-gap: 2px;
    position: fixed;
}

.suggestions {
    background-color: pink;
    grid-column: 2/6;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
}

.suggested h4 {
    background-color: violet;
}

.suggestions h5 {
    grid-column: span 3;
    margin: 0;
}

.suggestions img {
    grid-column: span 1;
}

.show {
    display: block;
}

.showSuggested {
    display: grid;
    height: 30vh;
}

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
    }

    main {
        grid-template-rows: repeat(9, 20px);
    }

    .container {
        width: auto;
        height: auto;
    }

    .showSuggested {
        display: grid;
        height: 40vh;
    }
}